fx-background-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/Hubble_background.jpg');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/image_2023_11_30T19_21_15_346Z.png');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/Venus.png');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/earth.png');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/Mars.png')
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/Jupiter.png');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/Saturn.png');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/Uranus.png');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/neptune.png');
fx-image: url('file:/C:/Users/Admin/IdeaProjects/solar/src/Image/pluto.png');

